@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4"><strong>ATILIM ÜNİVERSİTESİ KÜTÜPHANE</strong></h1>
    <br />
    <br />
    <p><img src="/img/librar2.jpg" /></p>
</div>
