@{
    ViewData["Title"] = "İletişim";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <p style="font-size:20px">E-posta: <a  style ="color:blue "href="mailto:library@atilim.edu.tr"> library@atilim.edu.tr</a></p>
    <p style="font-size:20px">Telefon: +90 (312) 586 84 66 Ödünç Verme ve Rezerv Birimi  (Uğur KÖSE)</p>
    <p style="font-size:20px">Adres: Kızılcaşar, Atılım Ünv. No:8, 06830 Gölbaşı/Ankara</p>
</div>

